
/** ADD YOUR AWESOME CODES HERE **/

.footer-partner{
  margin: 70px auto;
  margin-top: 0px;
} 
nav.navbar .navbar-brand img.logo{
  width: 160px;
}
.white-text{
  color: white;
}
.black-text{
  color: black;
}
.white-text:hover{
  color: white;
}

.show-product {
	width: 100%; 
	height: 16rem;
}

.why-text h4{
  height: 5rem;
}

.remove-item{
    float: right;
    color: #000;
    position: relative;
    z-index: 2;
    font-size: 16px;
}

#more{
	display: none;
}
.show-more{
	color: #d33b33
}

.profile-avatar{
  height: 20rem;
  padding-top: 0.5rem;
}

.profile-detail{
  background-color: aquamarine;
  height: 20rem;
}
.center{
  margin: 0 auto;
}
.img-center{
  margin: 0 auto;
  width: 15rem;
}
.avatar{
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  margin-bottom: 1rem;
}

.update-avatar{
  height: 2rem;
}